@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,400&family=Crimson+Text&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contains the nav bar styling.*/
header {
    background: url(assets/background.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 5% 10%;
}

h1 {
    display: flex;
    color: white;
    font-family: 'Cororant & Garamond', sans-serif;
}
.nav-links {
    list-style: none;
    }

   li a{
    font-family:'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(230, 223, 223);
    text-decoration: none;
   }

   body {
    background-color: black;
   }

   /* Contains the stylng for the three Project examples. */
   article {
   display: flex;
   justify-content: space-around;
   align-items: stretch;
   }

.project-one{
    width: 300px;
    padding: 50px;
    margin: 20px;
    border: 15px solid rgb(198, 201, 198);
   
}

.project-two{
    width: 300px;
    border: 15px solid rgb(132, 136, 132);
    padding: 50px;
    margin: 20px;
}

.project-three {
    width: 300px;
    border: 15px solid rgb(232, 237, 232);
    padding: 50px;
    margin: 20px;
}

/* Contains the styling for the social icons. */
footer 
    .icons {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        color: white;
        text-shadow: 5px 5px 5px grey;
        list-style: none;
        }