
*{
    margin:0;
    box-sizing: border-box;
}
/* The body of the page */
body {
    /* Background of the page */
    background: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* This container holds the nav bar and links */
/* Width of 80% to stop containted from going to side of the page */
.container{
    width: 80%;
    margin: 0 auto; 
}

header {
    /* Nav strip background color */
    background: white;
}

.logo {
    float: left;
    width: px;

}

ul {

}
