@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   background: black;
   background-image: url(logo.png)
}
header {
    background: url(./background.png);
    background-size: cover;
    background-position: center;}

li,a {
    font-family: "museoModerno",sans-serif;
    font-weight: 500;
    font-size 16px;
    color: #9d9488;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%
}

.nav-links {
    list-style: none;
}

