
*{ 
    margin:0;
    box-sizing: border-box;
}
/* The body of the page */
 body {
    /* Background of the page */
    /* background: black; */
    
    font-weight: 400;
}

 .container{
    width: 100%;
    height: 100vh;
    margin: 0 auto; 
    background: url(./background.png);
    background-size: cover;
    background-position: center;

    
}
/* Targets Logo */
.logo {
    width: 150px;
     }
/* Targets the navigational buttons */
ul {
    list-style: none;
    position: left;
}
