@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,400&family=Crimson+Text&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* Contains the nav bar styling.*/
header {
    background: url(assets/background.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 5% 10%;
}
@media screen and (min-width: 600px) {
    h1{
        font-size: 30px;
    }
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-bottom: black;
    font-family:'Cormorant Garamond', serif;
}


.nav-links {
    list-style: none;
    }

   li a{
    font-family:'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(230, 223, 223);
    text-decoration: none;
   }

   body {
    background-color: black;
   }

article {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

h2 {
    color: rgb(203, 200, 200);
    font-family:'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 12.5px;
}

h3 {
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-size: 35px;
    font-weight: 400;
}

.image {
    margin-top: 30px;
    margin-bottom: 20px;
}

article {
    display: inline-block;
    font-size: 14px;
    color: rgb(211, 202, 202);
    font-family: Arial, Helvetica, sans-serif, serif;
    line-height:5rem;
    margin-bottom:5rem;
}
/* Media breakpoint for bio text. */
@media screen and (min-width: 600px) {
    article {
        font-size: 18px;
    }
}
/* Interacts with the resume button */
.btn{
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: rgb(157, 154, 154);
    font-size: 2rem;
    text-decoration: none;
    color: rgb(6, 5, 5);
    border-radius: 10px;
    transition: background 0,5s;
}

.btn:hover {
    background: grey;
}

/* Alters the Social Icons. */
.icons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
    text-shadow: 5px 5px 5px grey;
    list-style: none;
    }

    
    


